.tnu {

  &-parent {
    position: relative;
    display: block;
  }

  &-indicator {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;

    &-dot {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      margin-top: 5px;
    }

    &-text {
      width: 30px;
      height: 14px;
      line-height: 14px;
      max-width: 45px;
      padding: 2px;
      border-radius: 21px;
      font-size: 9px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }

  &-tooltip {
    position: absolute;
    z-index: 2;
    max-width: 100px;
    background-color: #beccd6;
    border: 1px solid #1E5076;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}